.Nasa{
	margin: 40px;
}

.Nasa h2{
	font-size: 30px;
	margin-bottom: 60px;
}
.Nasa a{
	display: flex;
	font-size: 20px;
	color: #E45A84;
}

.Nasa .project-container p{
	font-family: 'Roboto Mono', monospace;
	word-spacing: 2px;
	line-height: 1.9;
}
.Nasa .project-container h4{
	margin-top: 70px;
	font-size: 25px;
}

.Nasa .project-container .links{
	margin:50px auto;
	width: 400px;
	display: flex;
	justify-content: space-around;
}

.Nasa .project-container .logos{
	margin: 0 auto;
	width: 700px;
	display: flex;
	justify-content: space-between;	
}

.Nasa .project-container .links a,.Nasa .project-container .logos p{
 	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #3E1E68;
	color: #FFACAC;
	border-radius: 50%;
	padding:10px;
	font-size: 30px;
	-webkit-transition: all .6s ease; 
	-moz-transition: all .6s ease; 
	-ms-transition: all .6s ease; 
	-o-transition: all .6s ease; 
	transition: all .6s ease;
}

.Nasa .project-container .links a:hover,.Nasa .project-container  .logos p:hover{
	border-radius: 0%;
}